In [1]:
import pandas as pd
import numpy as np

In [226]:
df_10 = np.random.randn(10000,2)

In [227]:
import time
start = time.time()
n = 0
size = len(df_10)
dist = np.zeros((size,size))
# size = 1000
for i in range(size) : 
    for j in range(i+1,size) :        
        
        d = np.linalg.norm(df_10[i] - df_10[j])
        dist[i,j] = d
        dist[j,i] = d
end = time.time()
print(end-start)

285.62727069854736

In [231]:
data = np.random.randn(10000,100)

In [236]:
import random
from sklearn.linear_model import LinearRegression
import numpy as np
import matplotlib.pyplot as plt

In [233]:
import random

In [262]:
idx = random.choices(range(10000), k=3)
reg = LinearRegression().fit(
    data[idx[:2]].T, data[idx[-1]]
)
reg.score(data[idx[:2]].T, data[idx[-1]])

In [225]:
dist.shape

(100, 100)

In [212]:
np.linalg.norm(
        df_10[0] -
        df_10[1]
)

2.492693697209432

In [25]:
# Distance O(n^2) +
# Sorting O(n log n) ~ O(n^2) * O(n) = O(n^2 log n) ~  O(n^3)
# calculation of average (or relevant equation) O(kn), k=number of neighborhood stations

In [30]:
df = pd.read_csv('./data/GlobalLandTemperaturesByCity.csv')

In [163]:
df = pd.read_pickle('data_all.pkl')

In [164]:
cities = df.groupby('City').mean().drop_duplicates(subset=['Latitude','Longitude']).index

In [165]:
data = df[df.City.isin(cities)]

In [167]:
data = data.set_index(['City','dt'])

In [168]:
data_temp = data.loc[:,'AverageTemperature']

array(['Çorum', 'Öskemen', 'A Coruña', ..., 'Zinder', 'Zonguldak',
       'Zunyi'], dtype=object)

In [177]:
df_cities = pd.DataFrame()
for city in cities :
    try :
        df_cities = df_cities.append(
            pd.DataFrame(data_temp.loc[city]).T)    
    except : 
        continue

In [193]:
df_cities

dt,1743-11-01,1743-12-01,1744-01-01,1744-02-01,1744-03-01,1744-04-01,1744-05-01,1744-06-01,1744-07-01,1744-08-01,...,2012-12-01,2013-01-01,2013-02-01,2013-03-01,2013-04-01,2013-05-01,2013-06-01,2013-07-01,2013-08-01,2013-09-01
AverageTemperature,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.486,1.539,4.612,6.846,11.092,17.070,19.056,20.736,21.452,NaN
AverageTemperature,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-21.321,-12.440,-14.449,-2.304,5.718,10.061,15.592,17.727,16.859,NaN
AverageTemperature,10.779,NaN,NaN,NaN,NaN,13.325,12.900,16.410,17.992,NaN,...,10.247,9.773,9.020,10.558,11.893,12.805,16.596,20.877,20.348,NaN
AverageTemperature,6.425,NaN,NaN,NaN,NaN,8.599,11.699,14.839,16.390,NaN,...,3.526,0.904,0.121,1.834,8.374,11.463,15.589,19.869,18.098,NaN
AverageTemperature,6.068,NaN,NaN,NaN,NaN,5.788,10.644,14.051,16.082,NaN,...,-0.921,-0.344,-0.390,-0.474,5.514,12.770,15.223,18.259,17.423,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
AverageTemperature,1.398,NaN,NaN,NaN,NaN,9.255,12.425,16.446,18.464,NaN,...,-5.440,-5.139,-0.834,-2.459,9.199,17.625,20.128,19.627,19.019,NaN
AverageTemperature,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,25.302,24.305,25.754,26.294,26.372,27.757,28.564,27.898,26.547,NaN
AverageTemperature,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,24.125,23.185,26.495,32.198,32.605,34.403,32.488,29.677,26.918,NaN
AverageTemperature,6.841,NaN,NaN,NaN,NaN,12.282,13.094,17.638,20.281,NaN,...,4.074,3.419,5.842,8.075,11.876,17.662,19.818,21.343,22.225,NaN
AverageTemperature,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.915,4.293,8.435,13.718,15.627,19.473,23.670,26.159,25.502,NaN

In [195]:
DATA = df_cities.set_index(np.array(range(1342)))

In [199]:
DATA.T.dropna().T.to_pickle('DATA.pkl')

In [132]:
cities = 
data_temp.loc('')

dt
1856-01-01    21.617
1856-02-01    23.896
1856-03-01    28.610
1856-04-01    31.573
1856-05-01    32.705
               ...
2013-04-01    32.605
2013-05-01    34.403
2013-06-01    32.488
2013-07-01    29.677
2013-08-01    26.918
Name: AverageTemperature, Length: 1721, dtype: float64